body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    text-align: center;
}

button {
    width: auto;
    height: 30px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    cursor: pointer;
}

.wine-img {
    height: 200px;
}

.wine-list-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.wine-item {
    margin-right: 4rem;
}