body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

button {
    width: auto;
    height: 30px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    cursor: pointer;
}

.wine-img {
    height: 200px;
    margin-bottom: 1.5rem;
}

.wine-list-container {
    margin: 3rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.wine-item {
    border: 1px solid #999;
    padding: 1rem;
}

.wine-item > li {
    margin-top: .3rem;
}

.wine-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}