ul {
    list-style-type: none;
    text-align: center;
}

.wine-img {
    height: 200px;
}

.wine-list-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.wine-item {
    margin-right: 4rem;
}